<div class="login-content-login">
    <img class="login-logo" src="assets/logRed.png">
</div>

<div class="login-content">
    <!-- Login From -->
    <div class="login-form">

        <h1>Iniciar sesión </h1>

        <form [formGroup]="loginForm" novalidate>
            <div class="form-container">
               
            <div class="separator"></div>

                <mat-form-field appearance="outline" color="primary">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email" />
                    <mat-icon matSuffix class="secondary-text">person</mat-icon>
                    <mat-error>
                        <div *ngIf="loginForm.get('email').hasError('required')">Email requerido</div>
                        <div *ngIf="loginForm.get('email').hasError('email')">Email inválido</div>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="pass" />
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="loginForm.get('pass').hasError('required')">Contraseña requerida</mat-error>
                </mat-form-field>
            </div>

            <span class="error" *ngIf="error">{{error}}</span>

            <div class="separator"></div>
            <!-- <button class="mr-10 text-center" mat-raised-button (click)="registrar()" >Registrarme</button> -->
            <button type="button" class="btn btn-primary input-centered" (click)="login()" [disabled]="loginForm.invalid || loading">Entrar</button>
            <img class="loader-login" src="./assets/loader.gif" alt="loading" *ngIf="loading">
        </form>
       
    </div>

</div>